body {
    font-family: Arial, sans-serif;
    background-image: url("images/maincontent.jpg");
    background-size: 100% ;
}
a {
    color: #bd7b00;
}
* {
    box-sizing: border-box;
}
.register {
    width: 500px;
    padding: 16px;
    margin: 0 auto;
    background-color: white;
    border-radius: 40px;
    
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid;
    background: #f1f1f1;
    border-radius: 20px;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.submit {
    background-color:sienna;
    color:aliceblue;
    padding: 15px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 20px;
}
.signup-btn{
    text-decoration: none;
    color: #ffffff;
}
.submit:hover {
    opacity: 1;
}
.login {
    background-color: #ffffff;
    text-align: center;
}